<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>Audio player HTML5</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <!-- Link your CSS -->
    <link rel="stylesheet" href="css/AudioPlayer.css">
    <style>
        #player {
            position: relative;
            max-width: 700px;
            height: 500px;
            border: solid 1px gray;
        }
    </style>
</head>

<body>
    <!-- Audio player container -->
    <div id='player'></div>

    <!-- Audio player js begin -->
    <script src="js/AudioPlayer.js"></script>
    <script>
        // Fetch audio files from Django view
        let audioFiles = [
            // Use Django template tags to populate the audio files dynamically
            {% for audio_file in audio_files %}
                {'icon': null, 'title': '{{ audio_file }}', 'file': '{% url 'play_audio' audio_file %}'},
            {% endfor %}
        ];

        AP.init({
            container: '#player',
            volume: 0.7,
            autoPlay: true,
            notification: false,
            playList: audioFiles
        });
    </script>
    <!-- Audio player js end -->
</body>
</html>
