<!DOCTYPE html>
<html>
  <head>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
   <link rel="stylesheet" href="https://unpkg.com/chota@latest">
    <title>{% block title %}Your Website{% endblock %}</title>
   
  </head>
  <body>

{% block content %}
  <h2>Login</h2>
  <form method="post">
    {% csrf_token %}
    <div>
      <label for="email">Email:</label>
      <input type="email" name="email" required>
    </div>
    <div>
      <label for="password">Password:</label>
      <input type="password" name="password" required>
    </div>
    <button type="submit">Login</button>
  </form>
  <p>Forgot your password? <a href="{% url 'password_reset' %}">Reset it here</a></p>
{% endblock %}
  </body>
</html>