<!DOCTYPE html>
<html>
  <head>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://unpkg.com/chota@latest">
    <title>{% block title %}Password Reset Email Sent{% endblock %}</title>
  </head>
  <body>
    <h2>Password Reset Email Sent</h2>
    <p>An email with the instructions to reset your password has been sent to your registered email address. Please follow the instructions in the email to reset your password.</p>
  </body>
</html>

